#Entradas
NET "CLK" LOC = V10;

#SEÑAL_ENTRADA CUADRADA
NET "I_SEÑAL" LOC = T12;

#RESET
NET "RST" LOC = T10;

#ANODOS
NET "ANODO[3]" LOC =P17;
NET "ANODO[2]" LOC =P18;
NET "ANODO[1]" LOC =N15;
NET "ANODO[0]" LOC =N16;

#display
NET "SALIDA[0]" LOC = T17;
NET "SALIDA[1]" LOC = T18;
NET "SALIDA[2]" LOC = U17;
NET "SALIDA[3]" LOC = U18;
NET "SALIDA[4]" LOC = M14;
NET "SALIDA[5]" LOC = N14;
NET "SALIDA[6]" LOC = L14;
